.stock-holder {
  height: calc(100vh*.50);
  margin-top: 20px;
  width: calc(100vw*.73);
  min-width: calc(100vw*.70);
  min-height: calc(100vh*.10);
  max-height: calc(100vh*.5);

//  display:flex;
//  justify-content:space-between;

}
.graph-loader
{
  left:50%;
  margin-top: 5%;
  margin-left: 10%;
}
