<div #windowHeight style="width:100%;height:100%;position:absolute;top:0;right:0;bottom:0;left:0;">
</div>
<div #bodyC class="body-container">
<mat-toolbar class="tool-bar mat-elevation-z3">
  <span class="flex-1">
    <span class="middle-align">Grab n Go</span>
  </span>
  <app-searchbox class="flex-1" *ngIf="currentUser">
  </app-searchbox>
  <span class="flex-2"></span>
</mat-toolbar>
  <!--<div class ="menu" *ngIf="currentUser" >
      <p>Options Are Us</p>
    <app-searchbox>
    </app-searchbox>
  </div>-->
  <div class="options mat-elevation-z3" [hidden]="showCard" #optionDiv  >
    <app-watchlist *ngIf="!showCard"></app-watchlist>
  </div>
  <div class="content-container">
    <div class="content">
       <router-outlet></router-outlet>
      <div #firstChart id="chart">
      </div>
    </div>
  </div>
</div>
 <mat-spinner [style.display]="showSpinner ? 'block' : 'none'" class="spinner-loader"></mat-spinner>
