<div class="top-holder">
  <span class="middle-align">Calls: </span>
  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
    <div (click)="logThis(div.innerText)" class="example-box" *ngFor="let timePeriod of timePeriods" cdkDrag #div>{{timePeriod}}</div>
  </div>
</div>
<div class="holder">
    <span class="middle-align">Puts: </span>
    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
      <div (click)="logThis(div.innerText)" class="example-box" *ngFor="let timePeriod of timePeriods" cdkDrag #div>{{timePeriod}}</div>
    </div>
</div>
<div #optionChart class="optionGraph-holder">
  </div>
<!--
<div class="holder">
<span class="middle-align">Options Are Us: </span>
<div class="scrollmenu">
  <div (click)="logThis(div.innerText)" *ngFor="let timePeriod of timePeriods" #div>{{timePeriod}}</div>
</div>
</div>-->
