<div class="stock-holder" >
  <app-stockgraph></app-stockgraph>
<div>
<div class="top-holder"  *ngIf="!PutMonthSelected">
  <span class="middle-align" >Calls: </span>
  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
    <div (click)="CallSelected(div.innerText)" class="example-box" *ngFor="let timePeriod of timePeriods"  cdkDrag #div>{{timePeriod}}</div>
  </div>
</div>
<div class="holder" *ngIf="CallMonthSelected">
    <span class="middle-align">Dates: </span>
    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
        <div (click)="logThis(div.innerText,div.dataset.code)" class="example-box" *ngFor="let exp of CONTRACT_DATA" [attr.data-code]="exp.code" cdkDrag #div>{{exp.expiration | date}} <br /> {{exp.strike | currency }}</div>
    </div>
    <button class="button" mat-raised-button (click)="resetSelection('call')" >Reset Fields</button>
</div>
<div class="holder"*ngIf="!CallMonthSelected">
    <span class="middle-align">Puts: </span>
    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
      <div (click)="PutSelected(div.innerText)"  class="example-box" *ngFor="let timePeriod of timePeriods"  cdkDrag #div>{{timePeriod}}</div>
    </div>

</div>
<div class="holder" *ngIf="PutMonthSelected && !CallMonthSelected">
    <span class="middle-align">Dates: </span>
    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
      <div (click)="logThis(divp.innerText,divp.dataset.code)" class="example-box" *ngFor="let exp of PUT_CONTRACT_DATA" [attr.data-code]="exp.code" cdkDrag #divp>{{exp.expiration | date}} <br /> {{exp.strike | currency }} </div>
    </div>
    <button class="button" mat-raised-button (click)="resetSelection('put')" >Reset Fields</button>
</div>
<mat-spinner class="graph-loader" [style.display]="GraphLoading ? 'block' : 'none'" ></mat-spinner>

<div #optionChart class="optionGraph-holder" [hidden]=!GraphLoaded>
  </div>

<div #rankChart class="optionGraph-holder" [hidden]=!RankCompleted>
</div>
<!--
<div class="holder">
<span class="middle-align">Options Are Us: </span>
<div class="scrollmenu">
  <div (click)="logThis(div.innerText)" *ngFor="let timePeriod of timePeriods" #div>{{timePeriod}}</div>
</div>
</div>-->
